@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.7;
    background-color: #faf9f9;
}

.btn:link,
.btn:visited{
    font-size: 1.4rem;
    display: inline-block;
    text-decoration: none;
    cursor:pointer;
    border: none;
    border-radius: 100px;
    color:#fff;
    padding: 1.5rem 7.5rem;
    margin-bottom: 1.4rem;
    transition: all .2s;
}

.btn:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.15);
    transform: translateY(-2px);
}

.btn:active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transform: translateY(0);
}

.btn--green{
    background-color: rgb(36, 158, 152);
}

.btn--green:hover{
    background-color: rgb(27, 119, 114);
}

.btn--blue{
    background-color: rgb(24, 128, 197);
}

.btn--blue:hover{
    background-color: rgb(17, 98, 151);
}

.container{
    width: 85%;
    margin: 0 auto;
}

.container--header{
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
}

.heading{
    margin: 2.5rem 0 1rem 0;
    font-size: 2.6rem;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(17, 16, 16, 0.733);
}

.img{
    max-width: 100%;
}

.para{
    font-size: 1.5rem;
    color: #999;
    margin-bottom: 3.7rem;
    line-height: 1.8;
}

.row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first,
.second,
.third,
.fourth,
.fifth,
.footer{
    padding: 4rem 0;
    text-align: center;
}

.first__img{
    margin: 2rem 0;
}

.footer{
    background-color: #f0eeee;
}

.footer__logo{
    width:5.5rem;
    height: 5.5rem;
    margin-bottom: 2rem;
}

.footer__para{
    font-size: 1.7rem;
}

.footer__para:not(:last-of-type){
    margin-bottom: 1.2rem;
}

.footer__para:last-of-type{
    margin-bottom: 4rem;
}

.footer__social-icons:not(:last-of-type){
    margin-right: 3rem;
}

.fourth__logo{
    width: 16rem;
}

.fourth__logo:not(:last-child){
    margin-bottom: 6rem;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 0;
    text-align: center;
}

.header__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img{
    display: flex;
    justify-content: center;
}

.header__span{
    display: block;
}

@media(min-width:600px){

    .header__span{
        display: inline-block;
        margin-right: -.5rem;
    }

    .header__heading{
        font-size: 3.5rem;
    }

}

@media(min-width:900px){

    .row{
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .col:first-of-type{
        flex: 0 0 50%;
    }

    .col:not(:first-of-type){
        flex: 0 0 40%;
    }

    .col1:not(:last-of-type){
        flex:0 0 18%;
    }

    .col1:nth-of-type(4){
        margin-right: auto;
    }

    .third .row{
        align-items: flex-start;
    }

    .col2{
        flex: 1;
        margin-right: 1.5rem;
    }

    .container--small,
    .header{
        width: 65%;
        margin: 0 auto;
    }

    .box,
    .footer{
        text-align: start;
    }

    .btn:link,
    .btn:visited{
        padding: 1.5rem 6.5rem;
    }

    .btn:link:not(:last-of-type),
    .btn:visited:not(:last-of-type){
        margin-right: 1.2rem;
    }

    .header__btn{
        flex-direction: row;
        justify-content:center;
    }

}